<div class="jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-4" style="background-color:peru;color:darkolivegreen;font-weight:bold;">
            EAT-DA-BURGER
        </h1>

    </div>
</div>

<div class="container">

    {{!-- <h1>EAT DA BURGER!</h1> --}}

    <div class="left">
        <ol>
            {{#each burgers}}
            {{#unless devour}}
            {{> burgers/burger-block devour=true}}
            {{/unless}}
            {{/each}}
        </ol>
    </div>

    <div class="right">

        <ol>
            {{#each burgers}}
            {{#if devour}}
            <li>
                {{name}}
            </li>
            {{/if}}
            {{/each}}
        </ol>
    </div>


    <form class="create-form text-center">

        <div class="form-group">
            <textarea type="text" id="burger" style="width: 300px"></textarea>
            <input type="hidden" id="devour" value="0">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>


        <h3>Enter a burger you want to eat and click submit button</h3>
    </form>
</div>