<nav class="navbar navbar-light justify-content-center sticky-top"
    style="background-color:rgb(204, 124, 44);color:rgb(58, 78, 23);">

    <h1 style="font-weight:bold" class="text-center">EARTHY BURGER </h1>

    <img src="/assets/img/animatedburger.gif" width="60" alt="burgerlogo">

</nav>


<div class="container">

    <div class="row">

        <div class="col-md-6">
            <div class="mt-2 mb-2">
                <h3 class="text-center"> Burgers on the Menu</h3>
                <ol>
                    {{#each burgers}}
                    {{#unless devour}}
                    {{> burgers/burger-block devour=true}}
                    {{/unless}}
                    {{/each}}
                </ol>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mt-2 mb-2">
                <h3 class="text-center">Devoured Burgers:</h3>
                <ol>
                    {{#each burgers}}
                    {{#if devour}}
                    {{> burgers/burger-block devour=false}}
                    {{/if}}
                    {{/each}}
                </ol>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-8 col-centered">
            <form class="create-form text-center">

                <div class="my-3">
                    <textarea type="text" style="width:300px;" class="rounded" id="burger"></textarea>
                    <input type="hidden" id="devour" value="0">
                </div>
                <button type="submit" class="btn btn-success"> Place an Order<i
                        class="fas fa-hamburger ml-2"></i></button>


                <h4 class="mt-2">Request a new Burger and place your order</h4>
            </form>
        </div>
    </div>
</div>