body {
    background-image: url("/assets/img/burger.png");
    background-color: #cccccc; 
    background-repeat: no-repeat; 
    background-size: cover; 
    
   }

h1{
     color: yellow;
   }

   h2{
       color: tomato;
   }

.create-form {
    padding: 5px;
    margin: 5px;
    
  }

  .form-group {
    margin-bottom: 5px;
    color: tomato;
  }

  label {
    font-weight: bold;
    color: yellow;
  }  

  li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    display: inline-block;
  }
